<table>
  <tr>
    <th>
      N
    </th>
    <th>
      Temperature
    </th>
    <th>
      Light
    </th>
    <th>
      Wind Speed
    </th>
    <th>
      Pressure
    </th>
    <th>
      Voltage
    </th>
    <th>
      Team number
    </th>
    <th>
      Date
    </th>
  </tr>
  {% for item in mesurements %}
  <tr>
    <td>{{loop.index}} </td>
    <td>{{ item.temp }}  </td>
    <td>{{ item.light }} </td>
    <td> {{ item.wind_speed }} </td>
    <td> {{ item.press }} </td>
    <td> {{ item.voltage }} </td>
    <td> {{ item.team }} </td>
    <td> {{ item.date }} </td>
  </tr>


    {% endfor %}
</table>
<ul>
</ul>
