Team {{team}}
<ul>
{% for item in data %}
        <li>{{ item.team }}</li>
{% endfor %}
</ul>
<iframe width="900" height="800" frameborder="0" scrolling="no" src="https://plot.ly/~Timopheym/12.embed"></iframe>
<iframe width="900" height="800" frameborder="0" scrolling="no" src="https://plot.ly/~Timopheym/14.embed"></iframe>
<iframe width="900" height="800" frameborder="0" scrolling="no" src="https://plot.ly/~Timopheym/16.embed"></iframe>
<iframe width="900" height="800" frameborder="0" scrolling="no" src="https://plot.ly/~Timopheym/18.embed"></iframe>
